<template>
  <div id="app">
    <h1>HOLA MUNDO</h1>
        <index/>
  </div>
</template>

<script>
import index from './app/Components/index.vue';

export default {
  name: 'app',
  components: {
    index
  },  
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'

    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
